html, body, img, figcaption, figure {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 background: transparent;
}

html, body {
  height: 100%;
}

body {
 position: relative;
 line-height: 1;
 background: url('pattern.jpg');
 font-family: Arial,sans-serif;
 color: white;
 font-size: 10px;
}


figure {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

figure img {
  width: 300px;
  height: 300px;
}

figcaption {
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -41px;
  text-align: center;
}